@mixin img {
    object-fit: cover;
    border: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.a-picture {

    margin: auto;
    position: relative;

    min-width: 50px;

    // background-color: #3632324b;

    &__img {
        @include img;
    }

    &__loaded {
        background: transparent;
        width: 100%;
        min-width: 50px;
        position: absolute;
        height: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &--img {
            object-fit: contain;
            width: 90%;
        }
    }

    &__icon {
        display: none;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 10px;
        right: 20px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin: 0;
        overflow: hidden;
        z-index: 100;
        font-size: 20px;
        color: #fff;

        &:hover {
            cursor: pointer;
        }

        @media screen and (min-width: 708px) {
            display: flex;
        }
    }
}

.hidden {
    height: 0px;
}

.picture--icon {
    width: 96px;
    height: 96px;
}